:global(.l){
    background: url('../assets/背景.jpg') no-repeat;
    height:100%;
    background-size:100% 100%; 
    font-size:16px!important
}

:global(.lo){
    margin: auto ;  
    position: absolute; left: 0; top: 350px; right: 0px; bottom: 0;
    max-width: 400px;
    max-height: 500px;
 
}
:global(.ant-tabs-tab)
{
    width:150px!important;
    text-align:center;
    color:	rgb(120,120,120);
    font-size:25px!important
}
:global(.ant-tabs-tab+.ant-tabs-tab)
{
    margin-left:40px
}
:global(.ant-tabs-tab-active)
{
    color:white!important
}
:global(.ant-tabs-nav)
{
    width:100%
}
:global(.ant-tabs-ink-bar)
{
    width:25px!important;
    margin-left:62.5px;
    background-color:#FF9933!important;
}
:global(.ant-checkbox-wrapper)
{
    margin-bottom:24px
}
